img{
  max-width: 100%;
  height: auto;
  background: #dba725;
  background: radial-gradient(white 30%, #dba725 70%);
}

.fa-star,
.fa-star-half{
  color: #dba725;
  padding: 3% 0;
}

#cartcount{
  text-align: center;
  padding: 0.1rem 0.9rem 0.1rem 0.9rem;
  border-radius: 3rem;
}